.card {
  width: 262px;
  background-color: var(--grey-800);
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
  border-radius: 10px;

  &__image {
    border-radius: 50%;
    width: 4.375rem;
    height: 4.375rem;
  }
  &__username {
    margin: 1rem 1rem 0 1rem;
    font-size: 1.188rem;
  }
  &__location {
    font-size: 0.7rem;
    color: var(--green);
    margin: 8px 1rem 1rem 1rem;
  }

  &__bio {
    font-size: 0.7rem;
    margin: 1.438rem 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 1rem 0 1rem;
  }
  &__link {
    text-decoration: none;
    font-size: 0.688rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.688rem;
    background-color: var(--grey-700);
    color: var(--white);
}
  &__link:hover {
    background-color: var(--green);
    color: var(--grey-900);
  }
}